<div id="indywidualna_menu">
  <hr />
  <nav>
    <ul>
      <li><%= link_to 'SESJE DLA<br />MODELEK'.html_safe, 'dlamodelek'
        #sesje_dla_modelek_indywidualna_path 
        %></li>
      <li><%= link_to 'PORTRETY<br />BEAUTY'.html_safe, 'portrety' %></li>
      <li><%= link_to 'SESJE<br />RODZINNE'.html_safe, 'rodzinne' %></li>
      <li><%= link_to 'PLENEROWE/STUDYJNE<br />SESJE OKAZJONALNE'.html_safe, 'okazjonalne' %></li>
      <li><%= link_to 'REPORTAŻE<br />OKOLICZNOŚCIOWE'.html_safe, 'okolicznosciowe' %></li>
    </ul>
  </nav>
</div>